{% extends 'base.html' %}
{% load staticfiles %}
{% block main %}
    <table width="1000" border="0" align="center" cellpadding="0" cellspacing="0">
      <tbody><tr>
        <td width="1000" height="380" valign="middle"><img src="{% static '01.jpg' %}" width="1000" height="340"></td>
      </tr>
    </tbody></table>
    <table width="1000" border="0" align="center" cellpadding="15" cellspacing="0" class="bk_e4e4e4">
      <tbody><tr>
        <td width="1000" valign="middle" bgcolor="#FFFFFF"><table width="100%" border="0" cellspacing="0" cellpadding="15">
          <tbody><tr>
            <td width="60%" align="left" class="bkdhx font_24">永远做行业的先行者</td>
            <td width="40%" align="right" class="bkdhx font_14">咨询电话：<span class="fotn_c69000">022-83869585</span></td>
          </tr>
          <tr>
            <td align="left" valign="top"><table width="100%" border="0" cellpadding="5" cellspacing="0" class="font_14">
              <tbody><tr>
                <td height="30" colspan="2" align="left" class="font_18 fotn_c69000"><strong>国创中和，您最好的选择！</strong></td>
              </tr>
              <tr>
                <td width="56%" align="left"><table width="100%" border="0" cellspacing="0" cellpadding="5">
                  <tbody><tr>
                    <td width="4%" align="left"><img src="{% static 'pro_33.jpg' %}" width="14" height="14"></td>
                    <td width="96%" align="left">经验丰富的项目策划人员</td>
                    </tr>
                  <tr>
                    <td align="left"><img src="{% static 'pro_33.jpg' %}" width="14" height="14"></td>
                    <td align="left">最专业详细的项目设计书</td>
                    </tr>
                  <tr>
                    <td align="left"><img src="{% static 'pro_33.jpg' %}" width="14" height="14"></td>
                    <td align="left">最快的掌握政府的政策资源动向</td>
                    </tr>
                </tbody></table></td>
                <td width="44%" align="left"><table width="100%" border="0" cellspacing="0" cellpadding="5">
                  <tbody><tr>
                    <td width="4%" align="left"><img src="{% static 'pro_33.jpg' %}" width="14" height="14"></td>
                    <td width="96%" align="left">最好的服务态度</td>
                  </tr>
                  <tr>
                    <td align="left"><img src="{% static 'pro_33.jpg' %}" width="14" height="14"></td>
                    <td align="left">全方位、深层次的综合服务</td>
                  </tr>
                  <tr>
                    <td align="left"><img src="{% static 'pro_33.jpg' %}" width="14" height="14"></td>
                    <td align="left">国际化的发展战略</td>
                  </tr>
                </tbody></table></td>
              </tr>
            </tbody></table></td>
            <td align="left"><img src="{% static 'pro_30.jpg' %}" width="389" height="168"></td>
          </tr>
        </tbody></table></td>
      </tr>
    </tbody></table>
    <table width="1000" border="0" align="center" cellpadding="0" cellspacing="0">
      <tbody><tr>
        <td width="1000" height="20" valign="middle"></td>
      </tr>
    </tbody></table>
    <table width="1000" border="0" align="center" cellpadding="15" cellspacing="0" class="bk_e4e4e4">
      <tbody>
      <tr>
        <td width="290" align="left" valign="top" bgcolor="#FFFFFF">
          <table width="100%" border="0" cellspacing="0" cellpadding="5">
          <tbody>
          <tr><td class="font_16"><strong>企业核心价值观 </strong></td></tr>
          <tr><td class="font_14"><strong>“一诺千金、德行天下”</strong></td></tr>
          <tr><td class="font_12"><strong>始终以诚信立业、以诚取信客户和合作伙伴。诚信是一个道德范畴，是自古以来经商必须遵守的基本道德和职业道德，真诚、讲信誉，言必信、行必果，一言九鼎，一诺千金；道德和品行宏杨天下是国创中和推崇的商业美德，所谓“君子爱财，取之有道”，从来不做违背正义与良知的商业行为，不做任何虚假的承诺，不收取任何违反公司规定的费用，把好自己的信用关，为推动行业的诚信度、公信力而努力。</strong></td>
          </tr>
          </table>
        </td>
        <td width="2" align="left" valign="middle" bgcolor="#FFFFFF"><img src="{% static 'about_39.jpg' %}" width="3" height="230"></td>
        <td width="616" align="left" valign="top" bgcolor="#FFFFFF"><table width="100%" border="0" cellspacing="0" cellpadding="5">
          <tbody><tr>
            <td align="left" class="font_16"><strong>我们的经营理念</strong></td>
          </tr>
          <tr>
              <td align="left" class="font_14"><strong>稳健经营</strong></td>
          </tr>
           <tr>
              <td align="left" class="font_12"><strong>在业务开展过程中强化风险意识，做好风险防范，把业务运作过程中的资金安全放于首位，务求稳中求胜；在公司发展过程中不好大喜功、不奋然冒进，而是经过科学的论证和详尽的部署之后做出决策，使公司的发展计划稳步推进、步步为赢；在高速发展中时刻保持危机感，找准自身的定位，使各项事业稳步前进。</strong></td>
          </tr>
          <tr>
              <td align="left" class="font_14"><strong>开拓创新</strong></td>
          </tr>
          <tr>
              <td align="left" class="font_12"><strong>积极开动脑筋，寻找业务开展过程中留下的盲点并不断的补充、完善和突破，使自己的专业素质或服务水准达到新的高度。站在不同的角度思考问题，努力改进现有的工作方法、完善现有的工作流程和规章制度。用前瞻性的眼光预测本行业的发展方向，不断开发新的投资渠道和投资品种，在市场竞争中立于不败之地。</strong></td>
          </tr>
          <tr>
              <td align="left" class="font_14"><strong>客户至上</strong></td>
          </tr>
          <tr>
              <td align="left" class="font_12"><strong>对客户的要求要无条件的坚决执行到底，客户就是上帝。</strong></td>
          </tr>
        </tbody></table></td>
      </tr>
    </tbody>
    </table>
{% endblock %}