{% extends 'base.html' %}
{% load staticfiles %}
{% block main %}
<table width="1000" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td width="1000" height="190" valign="middle"><img src="{% static 'new_03.jpg' %}" width="1000" height="150" /></td>
  </tr>
</table>
<table width="1000" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td width="212" valign="top"><table border="0" cellpadding="0" cellspacing="10" bgcolor="#FFFFFF" class="bk_e4e4e4">
      <tr>
        <td width="190"><table border="0" cellspacing="10" cellpadding="0">
          <tr>
            <td align="right"><span  class="font_18 fotn_999">新闻资讯</span><br />
                <span class="font_0A8BC4  font_24">News</span></td>
          </tr>
          <tr>
            <td height="27" align="left" background="{% static 'left_07.jpg' %}" class="font_fff" style=" padding-left:10px;">新闻资讯</td>
          </tr>
{#          <tr>#}
{#            <td><a href="products.html"><img src="{% static 'left_10.jpg' %}" width="170" height="62" border="0" /></a></td>#}
{#          </tr>#}
          <tr>
            <td><a href="/contact/"><img src="{% static 'left_12.jpg' %}" width="170" height="62" border="0" /></a></td>
          </tr>
        </table></td>
      </tr>
    </table></td>
    <td width="20" valign="top">&nbsp;</td>
    <td width="768" valign="top" bgcolor="#FFFFFF" class="bk_e4e4e4"><table width="100%" border="0" cellspacing="10" cellpadding="0">
      <tr>
        <td><table width="98%" border="0" align="center" cellpadding="0" cellspacing="0">
          <tr>
            <td height="30" align="left" class="font_14"><strong class="font_16">新闻资讯</strong></td>
          </tr>
          <tr>
            <td height="3" background="{% static 'about_49.jpg' %}"></td>
          </tr>
          <tr>
            <td valign="top"><table width="95%" border="0" align="center" cellpadding="3" cellspacing="0">
              <tr>
                <td width="3%" height="44" align="center" class="font_16 dhx"><strong>迎来到天津国创中和企业管理有限公司！</strong></td>
                </tr>
              <tr>
                <td align="center" class="fotn_999">来源：国创中和　时间：2019-01-25 浏览：506次</td>
              </tr>
              <tr>
                <td align="left"><table width="100%" border="0" cellspacing="0" cellpadding="5">
                    <tr><td align="left">第一，要对国家支持专项计划、政策与配套资金的申请办法、时间、申报材料的编写、注意事项、申报流程及申报要领等有一个较全面的了解。 </td></tr>
                    <tr><td align="left">第二，做好前期必要地准备工作。 </td></tr>
                    <tr><td align="left">• 1.申报人员要全面了解本企业拥有的核心技术、产品、市场等方面的优劣势和发展潜力，分析企业的财务发展状况; </td></tr>
                    <tr><td align="left">• 2.是注重公司无形资产的累积； 譬如专利证书、商标、著作权;查新报告;产品的测试和鉴定报告;备案、环评；科技成果鉴定报告;申请科技进步奖;良好企业信用等级;用户使用报告;出口创汇企业评选情况;IS09000质量体系认定证书;高新技术项目(企业)或软件企业认定证书等，这些报告或证书都可以作为申报项目的支撑材料，有的甚至是项目要求不可缺少的附件。 </td></tr>
                    <tr><td align="left">第三，需要有高质量地申报材料。 </td></tr>
                    <tr><td align="left">根据申报的基金或者国家政策扶持计划项目的要求，准备真实、准确、严谨、高质量的申报材料，使其能展示出公司的实力、技术、市场等方面的优势，使评委们能在较短时间内抓住其关注点，并能充分的理解、正确把握企业的申报材料所提供的信息点。 </td></tr>
                    <tr><td align="left">为什么有的企业申请到一个资金非常困难，而有的企业却能够获得国家的诸多支持? </td></tr>
                    <tr><td align="left">关键要对国家的政策有深入的研究和全面的了解，在企业发展的不同阶段选择申报不同的科技项目，另外，在申报国家部委项目、地方政府项目、区县资金配套的同时还要统筹计划好各个项目的衔接和支持的范围，既不能重叠，也不能遗漏，只有这样才能，减少企业资金短缺的压力。 </td></tr>
                    <tr><td align="left"> 在此，国创中和建议企业：一是按同一项目的发展阶段申报; 二是按不同科技计划扶持同一领域申报； 如果策划得当，国家扶持资金选择就可以形成一个网状的项目申报方案；三是根据企业或项目的发展进行整体策划，建立一套完整的项目申报计划（三至五年），包括国家、地区项目的规律性、每个科技计划之间的衔接性、企业长期发展的战略性等。</td></tr>
                </table>
                    </td>
              </tr>
            </table></td>
          </tr>
          
        </table></td>
      </tr>
    </table></td>
  </tr>
</table>
{% endblock %}
