{% extends 'base.html' %}
{% load staticfiles %}
{% block main %}
<table width="1000" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td width="1000" height="190" valign="middle"><img src="{% static 'new_03.jpg' %}" width="1000" height="150" /></td>
  </tr>
</table>
<table width="1000" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td width="212" valign="top"><table border="0" cellpadding="0" cellspacing="10" bgcolor="#FFFFFF" class="bk_e4e4e4">
      <tr>
        <td width="190"><table border="0" cellspacing="10" cellpadding="0">
          <tr>
            <td align="right"><span  class="font_18 fotn_999">新闻资讯</span><br />
                <span class="font_0A8BC4  font_24">News</span></td>
          </tr>
          <tr>
            <td height="27" align="left" background="{% static 'left_07.jpg' %}" class="font_fff" style=" padding-left:10px;">新闻资讯</td>
          </tr>
{#          <tr>#}
{#            <td><a href="products.html"><img src="{% static 'left_10.jpg' %}" width="170" height="62" border="0" /></a></td>#}
{#          </tr>#}
          <tr>
            <td><a href="/contact/"><img src="{% static 'left_12.jpg' %}" width="170" height="62" border="0" /></a></td>
          </tr>
        </table></td>
      </tr>
    </table></td>
    <td width="20" valign="top">&nbsp;</td>
    <td width="768" valign="top" bgcolor="#FFFFFF" class="bk_e4e4e4"><table width="100%" border="0" cellspacing="10" cellpadding="0">
      <tr>
        <td><table width="98%" border="0" align="center" cellpadding="0" cellspacing="0">
          <tr>
            <td height="30" align="left" class="font_14"><strong class="font_16">新闻资讯</strong></td>
          </tr>
          <tr>
            <td height="3" background="{% static 'about_49.jpg' %}"></td>
          </tr>
          <tr>
            <td valign="top"><table width="95%" border="0" align="center" cellpadding="3" cellspacing="0">
              <tr>
                <td width="3%" height="44" align="center" class="font_16 dhx"><strong>迎来到天津国创中和企业管理有限公司！</strong></td>
                </tr>
              <tr>
                <td align="center" class="fotn_999">来源：国创中和　时间：2019-01-20 浏览：320次</td>
              </tr>
              <tr>
                <td align="left"><table width="100%" border="0" cellspacing="0" cellpadding="5">
                    <tr><td align="left">根据至国创中和专家团队多年的政策资金申报经验，结合政府相关的申请数据，并在对近两千家各类型企业进行市场调研分析，得出企业得不到政策资助主要有以下四个方面的原因：一、不知道；二、一知半解；三、知道不去做；四、做无用功。</td></tr>
                    <tr><td align="left">具体原因分析如下：</td></tr>
                    <tr><td align="left">一、不知道：</td></tr>
                    <tr><td align="left">1、 根本不知道国家有政策资助这回事；</td></tr>
                    <tr><td align="left">2、 不知道有符合自己企业的政策；</td></tr>
                    <tr><td align="left">3、 不知道自己的项目符合哪一项资助政策；</td></tr>
                    <tr><td align="left">4、 不知道国家政策对企业的重要性和作用；</td></tr>
                    <tr><td align="left">5、 不知道利用政府资源来发展自己的企业；</td></tr>
                    <tr><td align="left">6、不知道在政府相关部门树立企业的正面形象；</td></tr>
                    <tr><td align="left">由于以上的“不知道”， 导致企业没有申请，使得42.3%的企业与国家政策资助无缘，白白丧失政府政策资金扶持的机会。</td></tr>
                    <tr><td align="left">二、 一知半解：</td></tr>
                    <tr><td align="left">1、 知道有相关的政策，但不了解细节，不知从何下手；</td></tr>
                    <tr><td align="left">2、 不确定自己的项目是否可获得政府政策资助；</td></tr>
                    <tr><td align="left">3、 不确定具体要做哪些前期准备工作；</td></tr>
                    <tr><td align="left">4、 不知道政策的具体申报时间；</td></tr>
                    <tr><td align="left">5、 不知道政策申报的实施步骤；</td></tr>
                    <tr><td align="left">6、 不知道政策申报的具体条件；</td></tr>
                    <tr><td align="left">7、 不知道政策申报的申报程序；</td></tr>
                    <tr><td align="left">8、 不完全了解政府设立资金的目的、宗旨及其真正的内涵；</td></tr>
                    <tr><td align="left">9、 对政策重要性和作用理解的不透彻，企业负责人不重视；</td></tr>
                    <tr><td align="left">10、有点理解，不敢确认扶持政策的真实性。</td></tr>
                    <tr><td align="left">由于以上的“一知半解”，导致26.7%的企业与国家政策资助失之交臂，错过政府政策资金扶持的机会。</td></tr>
                    <tr><td align="left">三、知道不去做：</td></tr>
                    <tr><td align="left">1、   知道政策的重要性和作用，但是企业负责人不重视；</td></tr>
                    <tr><td align="left">2、   企业没有专业的人才去进行组织申报；</td></tr>
                    <tr><td align="left">3、   企业没有时间和精力去进行组织申报；</td></tr>
                     <tr><td align="left">4、   由于申报前期需要做的准备工作与准备材料非常精细与准确，企业很难掌握到位；</td></tr>
                     <tr><td align="left">5、   由于申报需要经过的流程太多，企业很难都做到位；</td></tr>
                     <tr><td align="left">6、   由于担心前期投入时间与精力太多，但企业对最后的申报成功没有把握；</td></tr>
                     <tr><td align="left">7、   企业缺乏政府公共关系，很多工作细节根本无法做到；</td></tr>
                     <tr><td align="left">由于以上的“知道不去做”，导致18.4%的企业最终还是不能享受国家政策资助，错过政府政策资金扶持的机会。</td></tr>
                     <tr><td align="left">四、做无用功：</td></tr>
                     <tr><td align="left">1、 项目不过硬，达不到扶持的标准，项目不过硬其实更多是由于项目包装不过硬，这成为申报失败重大原因；</td></tr>
                     <tr><td align="left">2、 项目投错了门，企业申报A扶持政策，但其实项目更符合B扶持政策，以致申报失败；</td></tr>
                     <tr><td align="left">3、 企业报错项目，企业有AB两个项目或项目中有AB两个环节，企业选取了A申报，但其实B更适合，以致申报失败；</td></tr>
                     <tr><td align="left">4、 申报材料准备不充分，以致申报失败；</td></tr>
                     <tr><td align="left">5、 做足了准备工作，但由于对政策的掌握不及时，错过了申报时间，以致申报失败；</td></tr>
                    <tr><td align="left"> 6、 委托了一家资源不够丰富的顾问公司代为操办，费时费力之后，最后以失败告终；</td></tr>
                    <tr><td align="left">7、 政府公共关系缺乏，是申报失败最微妙的原因；</td></tr>
                    <tr><td align="left">由于以上的“做无用功”，导致12.6%的企业虽然参与了，但最终还是申报失败，最终还是没能享受到政府政策资金扶持的大好机会。</td></tr>
                    <tr><td align="left">每一个成功的企业都很擅长“专业的事只让专业的人去做”，也都清楚企业最大的成本就是“让不专业的人去做专业的事”</td></tr>
                </table>
                    </td>
              </tr>
            </table></td>
          </tr>
          
        </table></td>
      </tr>
    </table></td>
  </tr>
</table>
{% endblock %}
