{% extends 'base.html' %}
{% load staticfiles %}
{% block main %}
<table width="1000" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td width="1000" height="190" valign="middle"><img src="{% static 'news_banner.jpg' %}" width="1000" height="150" /></td>
  </tr>
</table>
<table width="1000" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td width="212" valign="top"><table border="0" cellpadding="0" cellspacing="10" bgcolor="#FFFFFF" class="bk_e4e4e4">
      <tr>
        <td width="190"><table border="0" cellspacing="10" cellpadding="0">
          <tr>
            <td align="right"><span  class="font_18 fotn_999">客户服务</span><br />
                <span class="font_0A8BC4  font_24">Services</span></td>
          </tr>
          <tr>
            <td height="27" align="left" background="{% static 'left_07.jpg' %}" class="font_fff" style=" padding-left:10px;">客户服务</td>
          </tr>
{#          <tr>#}
{#            <td><a href="products.html"><img src="{% static 'left_10.jpg' %}" width="170" height="62" border="0" /></a></td>#}
{#          </tr>#}
          <tr>
            <td><a href="/contact/"><img src="{% static 'left_12.jpg' %}" width="170" height="62" border="0" /></a></td>
          </tr>
        </table></td>
      </tr>
    </table></td>
    <td width="20" valign="top">&nbsp;</td>
    <td width="768" valign="top" bgcolor="#FFFFFF" class="bk_e4e4e4"><table width="100%" border="0" cellspacing="10" cellpadding="0">
      <tr>
        <td><table width="98%" border="0" align="center" cellpadding="0" cellspacing="0">
          <tr>
            <td height="30" align="left" class="font_14"><strong class="font_18">客户服务</strong></td>
          </tr>
          <tr>
            <td height="3" background="{% static 'about_49.jpg' %}"></td>
          </tr>
          <tr>
              <td valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="5">
                  <tbody><tr>
                    <td align="left" class="font_14"><b>企业管理咨询</b></td>
                  </tr>
                  <tr>
                      <td align="left" class="font_12">     深入到企业现场，与企业管理人员密切配合，运用各种科学方法，找出经营管理上存在的主要问题，进行定量及定性分析，查明产生问题的原因，提出切实可行的改善方案并指导实施，以谋求企业坚实发展的一种改善企业经营管理的服务活动。</td>
                  </tr>
                  <tr>
                      <td align="left" class="font_12">    一是帮助企业发现生产经营管理上的主要问题，找出原因，制定切实可行的改善方案；</td>
                  </tr>
                  <tr>
                      <td align="left" class="font_12">    二是指导改善方案的实施；</td>
                  </tr>
                  <tr>
                      <td align="left" class="font_12">    三是传授经营管理的理论与科学方法，培训企业各级管理干部，从根本上提高企业的素质。</td>
                  </tr>
                  <tr>
                      <td align="left" class="font_12">    主要涉及财务管理、企业文化、并购重组、运营管理、营销管理、风险管理等等。</td>
                  </tr>
                  <tr>
                    <td align="left"  class="font_14"><b>科技政策规划</b></td>
                  </tr>
                  <tr>
                      <td align="left" class="font_12">    高水平的咨询专家团队根据企业实际情况，结合政府政策现状、企业需求和区域政策差异等，挖掘企业潜在资源，与企业一起交流和分析政策导向，帮助企业发现和提炼技术及企业整体优势，制定未来五年科技申报规划。</td>
                  </tr>
                  <tr>
                      <td align="left" class="font_12">    我公司着眼于与客户建立长期战略合作伙伴关系，立足于客户的长期顾问角色，使企业从全局看待创新体系建设工作，发挥我们全流程辅导的价值，结合历年成功经验，制定项目实施计划、实施方案，让客户实现高价值回报。</td>
                  </tr>
                  </tbody></table></td>>

          </tr>
          
        </table></td>
      </tr>
    </table></td>
  </tr>
</table>
{% endblock %}
