{% load staticfiles %}
<table width="1000" border="0" align="center" cellpadding="0" cellspacing="0">
      <tbody><tr>
        <td height="30" align="center"><table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tbody><tr>
            <td width="70%" align="left"><span class="fotn_999">您好！欢迎来到</span><span class="font_0A8BC4">天津国创中和企业管理有限公司</span><span class="fotn_999">！</span></td>
            <td width="30%" align="right"> <a href="#" onclick="this.style.behavior='url(#default#homepage)';this.setHomePage('http://www.mycodes.net');return(false);" style="BEHAVIOR: url(#default#homepage)">设为首页</a> | <a href="#" onclick="window.external.addFavorite('http://www.mycodes.net','天津国创中和企业管理有限公司')" style="CURSOR: hand" title="天津国创中和企业管理有限公司">收藏国创中和</a></td>
          </tr>
        </tbody></table></td>
      </tr>
      <tr>
        <td height="110" align="center"><table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tbody><tr>
            <td width="21%"><img src="{% static 'gczh.png' %}" width="260" height="76"></td>
            <td width="5%" align="center"><img src="{% static 'top_07.png' %}" width="1" height="85"></td>
            <td width="46%" align="left"><img src="{% static '071.png' %}" width="450" height="60"></td>
            <td width="28%"><table border="0" align="right" cellpadding="0" cellspacing="0">
              <tbody><tr>
                <td width="53" rowspan="3" align="center"><img src="{% static 'top_12.png' %}" width="41" height="54"></td>
                <td align="left" class="fotn_999">客服热线：</td>
              </tr>
              <tr>
                <td align="left" class="font_0A8BC4  font_24">022-83869585</td>
              </tr>
              <tr>
                <td align="left" class="fotn_999">客服工作时间：9：00-18：00</td>
              </tr>
            </tbody></table></td>
          </tr>
        </tbody></table></td>
      </tr>
      <tr>
        <td height="40" align="center"><table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tbody><tr>
            <td width="130" align="center" bgcolor="#076f9b"><a href="/gczh/" class="dao">网站首页</a></td>
            <td width="2" align="center"><img src="{% static 'top_22.png' %}" width="2" height="40"></td>
            <td width="130" align="center" bgcolor="#076f9b"><a href="/about/" class="dao">关于我们</a></td>
            <td width="2" align="center"><img src="{% static 'top_22.png' %}" width="2" height="40"></td>
            <td width="130" align="center" bgcolor="#076f9b"><a href="/new/" class="dao">新闻资讯</a></td>
            <td width="2" align="center"><img src="{% static 'top_22.png' %}" width="2" height="40"></td>
            <td width="130" align="center" bgcolor="#076f9b"><a href="/platform/" class="dao">合作流程</a></td>
            <td width="2" align="center"><img src="{% static 'top_22.png' %}" width="2" height="40"></td>
            <td width="130" align="center" bgcolor="#076f9b"><a href="/service/" class="dao">客户服务</a></td>
            <td width="2" align="center"><img src="{% static 'top_22.png' %}" width="2" height="40"></td>
            <td width="130" align="center" bgcolor="#076f9b"><a href="/contact/" class="dao">联系我们</a></td>
            <td width="2" align="center"><img src="{% static 'top_22.png' %}" width="2" height="40"></td>
            <td align="center">&nbsp;</td>
          </tr>
        </tbody></table></td>
      </tr>
    </tbody></table>